<div id="<%= dom_id purchase %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= purchase.user_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Item:</strong>
    <%= purchase.item_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Purchase date:</strong>
    <%= purchase.purchase_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Purchased quantity:</strong>
    <%= purchase.purchased_quantity %>
  </p>
</div>
