<% content_for :title, "Purchases" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Purchases</h1>
    
    <div class="flex justify-between items-center">
    <%= link_to "View all Purchases", purchases_path, class: "rounded-md mx-2 px-3.5 py-2.5 bg-green-600 hover:bg-green-500 text-white block font-medium" %>

    <%= link_to "Sort by Date", purchases_path(sort: "purchase_date"), class: "rounded-md mx-2 px-3.5 py-2.5 bg-green-600 hover:bg-green-500 text-white block font-medium" %>


    </div>

    <%= link_to "New purchase", new_purchase_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>



  <div id="purchases" class="min-w-full">
    <% if @purchases.any? %>
      <% @purchases.each do |purchase| %>
        <%= render purchase %>
        <p>
          <%= link_to "Show this purchase", purchase, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
        </p>
      <% end %>
    <% else %>
      <p class="text-center my-10">No purchases found.</p>
    <% end %>
  </div>
</div>
