<div id="<%= dom_id renting %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= renting.user_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Item:</strong>
    <%= renting.item_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Checkout date:</strong>
    <%= renting.checkout_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Return date:</strong>
    <%= renting.return_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= renting.quantity %>
  </p>
</div>
